*,
::after,
::before {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
@font-face {
  font-family: Poppins;
  src: url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,600;1,300&display=swap");
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  background: url(./assets/images/josh-sorenson-MjIMc6uhwrE-unsplash.jpg)
    no-repeat;
  background-size: cover;
}
.container-footer {
  background-color: rgb(211, 211, 211);
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container {
  width: 90%;
  min-height: 50px;
  background: rgba(241, 241, 241, 0.3);
  padding: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
}

.drumPad {
  background: rgb(11, 168, 32);
  border-radius: 20px;
  min-height: 200px;
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.4);
  cursor: pointer;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: 700ms;
}

.drumPad:hover {
  box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.05);

  filter: brightness(1.3);
}

@media screen and (max-width: 700px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
  }
  .drumPad {
    background: rgb(11, 168, 32);
    border-radius: 20px;
    min-height: 140px;
    box-shadow: 10px 10px 10px rgba(20, 20, 20, 0.4);
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: 700ms;
  }
}
